/* Body */

body { font-family: sans-serif; }
div.container { height: 80vh; }
.clickable { cursor: pointer; }
footer { margin-top: 20px; }
footer img { margin-bottom: 15px; }

/* Main */

/*    Main Options */
#main-options-div {
    display: flex;
    flex-direction: column;
    text-align: center;
	justify-content: flex-start;
}

span.main { margin-top: 10%; font-size: 25px; }
button.main { height: 80px; margin-top: 10%; font-size: 20px; background-color: orange;}
button.main:hover, button.main:active { background-color: black; color: orange; }

/*    Main Create */
#main-create-div {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-start;
}
#main-create-div input { text-align: center;  border: 1px black solid;}
#main-create-div span.error { color: crimson; font-weight: bold; }
#main-create-div button { cursor: pointer; height: 80px; background-color: orange; 
	font-size: 20px; margin-top: 2%;}
#main-create-div button:hover, #main-create-div button:active { background-color: black; 
	color: orange; }
#main-create-div button.error { background-color: gray; color: black; cursor: default; }
#main-create-span { margin-top: 10%; }
#main-create-name-span { margin-top: 5% }
#main-create-input, #main-create-name-input { margin-top: 5%; height: 30px; font-size: 15px; }
#main-create-name-input { margin-bottom: 5%; }
#main-create-error-span { margin-top: 5%; }

/*    Main Join */ 
#main-join-div {
	display: flex;
	flex-direction: column;
	text-align: center; 
	justify-content: flex-start;
}
#main-join-button { cursor: pointer; height: 80px; background-color: orange; font-size: 20px;
margin-top: 2% }
#main-join-button:hover, #main-join-button:active { color: orange; background-color: black; }
#main-join-span { margin-top: 10%; }
#main-join-name-span {margin-top: 5%}
#main-join-input, #main-join-name-input { margin-top: 5%; text-align: center; border: 1px solid black; 
	height: 30px; font-size: 15px; }
#main-join-button-2 { cursor: pointer; height: 80px; background-color: orange; font-size: 20px;
	margin-top: 10% }
#main-join-button-2:hover, #main-join-button-2:active { color: orange; background-color: black; }
#main-join-button-2.error { color:black; background-color: gray; cursor: default;   }
#main-join-div span.error { color: crimson; font-weight: bold; }

/* Game */

  /* Spinning Bottle */

  #img-spinning-bottle { display: block; margin: auto; width: 100%;  }
  #spinning-span { font-size: 30px; text-align:center; padding-top: 70px; display: block; }
  #spinning-div { display:flex; flex-direction: column; justify-content: center; }

  /* Not Spinning */

  .truth-or-dare-button { border: 1px solid black; background: orange; display: block; width: 100%; }
  #truth-or-dare-buttons-span {  display: flex; flex-direction: column; justify-content: space-around;  }
  #updates-span { font-size: 20px; display: block; text-align: center; padding-top: 100px; }
  #game-container { display: flex; flex-direction: column; justify-content: flex-start; }
  #truth-or-dare-buttons-span  { padding-top: 100px;   }